# Dependencias (se instalarán en Render, no se suben)
node_modules/

# Carpetas de compilación/producción
.next/
dist/
build/

# Archivos de entorno locales (claves secretas, contraseñas)
.env
.env.local
.env.development.local

# Archivos del sistema operativo o editores
.DS_Store
.vscode/
npm-debug.log*